spring:
  application:
    name: java-secure-authentication

  datasource:
    url: jdbc:mysql://localhost:3306/java_secure_authentication?useSSL=false&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false
  data:
    redis:
      host: localhost
      port: 6379
      connect-timeout: 2000ms
      lettuce:
          pool:
            max-active: 8
            max-idle: 8
            min-idle: 0
